<div class="container">
    <div class="row">
      <div class="col-sm">
        {{user.firstName}}
      </div>
      <div class="col-sm">
        {{user.lastName}}
      </div>
      <div class="col-sm">
        {{user.address}}
      </div>
      <div class="col-sm">
        {{user.createdAt | date}}
      </div>
      <div class="col-sm">
        {{user.updatedAt | date}}
      </div>
      <div class="col-sm">
        {{user.phone}}
      </div>
      <div class="col-sm">
        <!-- <input (click)="editUser(user)" class="btn btn-primary actionButton" type="button" value="Edit">
        <input (click)="goDeleteUser(user.id)" class="btn btn-primary actionButton" type="button" value="Delete">
         <button routerLink="/delete-user">Go to sidekicks</button> -->
      </div>
    </div>
  </div>