<h1>{{title}}</h1>
<nav>
  <input routerLink="/users" class="btn btn-primary actionButton" type="button" value="Table">
  <input routerLink="/users2" class="btn btn-primary actionButton" type="button" value="Users in div's">
  <input routerLink="/create-user" class="btn btn-primary actionButton" type="button" value="Create user">
  <input routerLink="/get-user" class="btn btn-primary actionButton" type="button" value="Show certain user">
</nav>
<router-outlet> </router-outlet>
<!-- <app-user-list></app-user-list> -->